<section class="section-abaut-me" id="about-me">
  <div class="container-abaut-me container">
    <h2 class="logo-abaut-me-to">
      About <span class="logo-abaut-me-gren">me</span>
    </h2>
    <div class="cont-abaut-me">
      <div class="bio">
        <div class="abaut-me-picture">
          <picture>
            <source
              srcset="
                ./images/about-me-foto.jpg    1x,
                ./images/about-me-foto-2x.jpg 2x
              "
              media="(min-widht:1280px)"
            />
            <source
              srcset="
                ./images/about-me-foto-tab.jpg    1x,
                ./images/about-me-foto-tab-2x.jpg 2x
              "
              media="(min-widht:768px)"
            />
            <source
              srcset="
                ./images/about-me-foto-mob.jpg    1x,
                ./images/about-me-foto-mob-2x.jpg 2x
              "
              media="(min-widht:320px)"
            />
            <img
              src="./images/about-me-foto.jpg"
              alt="me"
              class="images-abaut-me"
              width="384"
              height="448"
            />
          </picture>
        </div>
        <div class="abaut-me-text-logo">
          <h3 class="logo-abaut-me">BIO</h3>
          <p class="text-about-me">
            I'm Lloyd Jefferson, a talented programmer specializing in software
            development. My expertise spans various programming languages and
            technologies, and I am dedicated to continually enhancing my skills.
            I thrive on seeking unconventional and creative solutions to
            problems, leveraging a high level of analytical skills to
            effectively tackle even the most challenging tasks.
          </p>
          <p class="text-about-me">
            Adaptable to both independent and team-oriented work, I collaborate
            seamlessly with colleagues, exchanging ideas and finding optimal
            solutions. My professional maturity enables me to navigate
            challenges and stressful situations with a calm demeanor,
            maintaining a consistently high quality of work. Committed to
            self-improvement, I actively engage in studying new technologies and
            practices to stay current with the latest innovations in the field.
          </p>
        </div>
      </div>
      <div class="cont-me-to">
        <div class="cont-me-to-education">
          <h3 class="logo-abaut-me">EDUCATION</h3>
          <ul class="about-me-ul">
            <li class="abaut-text-li">
              <p class="text-about-me abaut-me-text">
                2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                York
              </p>
            </li>
            <li class="abaut-text-li">
              <p class="text-about-me abaut-me-text">
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                School, New York
              </p>
            </li>
            <li class="abaut-text-li">
              <p class="text-about-me abaut-me-text">
                2020 - 2022 / Advanced Blender Animation Techniques, Udemy
              </p>
            </li>
          </ul>
        </div>
        <div class="cont-me-to-role">
          <h3 class="logo-abaut-me">ROLE</h3>
          <ul class="about-me-ul">
            <li class="abaut-text-li">
              <p class="text-about-me abaut-me-text">Frontend development</p>
            </li>
            <li class="abaut-text-li">
              <p class="text-about-me abaut-me-text">HeadlessCMS, Wordpress</p>
            </li>
            <li class="abaut-text-li">
              <p class="text-about-me abaut-me-text">Blender (enjoy)</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
