<section class="faq-section">
    <div class="container faq-container">
        <div class="left-part-faq">
    <h2 class="faq-title">FREQUENTLY ASKED <span class="faq-span">QUESTION</span></h2>
    <img
          class="faq-img"
          src="./images/faq-background1x.png"
          srcset="
          ./images/faq-background1x.png,
          ./images/faq-background2x.png
          "
          alt="faq-background"
        />
    </div>
    <div class="accordion-container">
   <ul class="accordion">
    <li class="accordion-item"> 
        <h2 class="accordion-header">What programming languages ​​are most often used in your project?
            <button type="button" class="accordion-trigger">
                <svg class="icon-faq" width="24" height="24">
                    <use href="./images/icons.svg#icon-icon-assets"></use>
                </svg>
            </button>
        </h2>
        <div class="accordion-body">
            <p class="accordion-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
        </div>
    </li>
    <li class="accordion-item">
        <h2 class="accordion-header">What are the deadlines for the project?
            <button type="button" class="accordion-trigger">
                <svg class="icon-faq" width="24" height="24">
                    <use href="./images/icons.svg#icon-icon-assets"></use>
                </svg>
            </button>
        </h2>
        <div class="accordion-body">
            <p class="accordion-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project</p>
        </div>
    </li>
    <li class="accordion-item">
        <h2 class="accordion-header">What payment methods do you accept?
            <button type="button" class="accordion-trigger">
                <svg class="icon-faq" width="24" height="24">
                <use href="./images/icons.svg#icon-icon-assets"></use>
            </svg>
            </button>
        </h2>
        <div class="accordion-body">
            <p class="accordion-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
        </div>
    </li>
    <li class="accordion-item">
        <h2 class="accordion-header">How can I contact you?
            <button type="button" class="accordion-trigger">
                <svg class="icon-faq" width="24" height="24">
                <use href="./images/icons.svg#icon-icon-assets"></use>
            </svg>
            </button>
        </h2>
        <div class="accordion-body">
            <p class="accordion-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
        </div>
    </li>
    <li class="accordion-item">
        <h2 class="accordion-header"> Do you provide advice or support?
            <button type="button" class="accordion-trigger">
                <svg class="icon-faq" width="24" height="24">
                <use href="./images/icons.svg#icon-icon-assets"></use>
            </svg>
            </button>
        </h2>
        <div class="accordion-body">
            <p class="accordion-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
        </div>
    </li>
    <li class="accordion-item">
        <h2 class="accordion-header">What does the process of developing a software product look like from idea to implementation?
            <button type="button" class="accordion-trigger">
                <svg class="icon-faq" width="24" height="24">
                <use href="./images/icons.svg#icon-icon-assets"></use>
            </svg>
            </button>
        </h2>
        <div class="accordion-body">
            <p class="accordion-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
        </div>
    </li>
   </ul>
</div>
</div>
   </section> 

  