<footer>
  <div class="footer-block">
    <div class="footer-middle">
      <div class="footer-logo">
        <a class="footer-logo-link" href="index.html"
          >Lloyd<span class="footer-logo-color">Jefferson.</span></a
        >
      </div>
      <div class="social-links">
        <ul class="social-links-list">
          <li class="social-links-item">
            <a
              class="social-links-item-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              aria-label="Instagram"
              >Instagram
            </a>
          </li>
          <li class="social-links-item">
            <a
              class="social-links-item-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              aria-label="Facebook"
              >Facebook
            </a>
          </li>
          <li class="social-links-item">
            <a
              class="social-links-item-link"
              href="https://www.linkedin.com/school/goit-start-your-career-in-it"
              target="_blank"
              aria-label="Linkedin"
              >Linkedin
            </a>
          </li>
          <li class="social-links-item">
            <a
              class="social-links-item-link"
              href="https://github.com/Keemply/project-group-5"
              target="_blank"
              aria-label="GitHub"
              >GitHub
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p class="footer-bottom-par">
        &copy; Copyright 2024. Made by LloydJefferson
      </p>
    </div>
  </div>
</footer>
