<header class="header">
  <div class="container header-section">
    <div class="logo">
      <a href="#">LLOYD<span>JEFFERSON</span><span class="dot">.</span></a>
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <li><a href="#about">About me</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contacts">Contacts</a></li>
      </ul>
    </nav>
    <button class="menu-toggle" aria-label="Open Menu">
      <span class="menu-icon"></span>
    </button>
  </div>

  <!-- Мобільне меню -->
  <div class="mobile-menu">
    <div class="mobile-logo">
      <a href="#">LLOYD<span>JEFFERSON</span><span class="dot">.</span></a>
    </div>
    <button class="close-menu" aria-label="Close Menu">✖</button>
    <ul class="mobile-menu__list">
      <li><a href="#about">About me</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contacts">Contacts</a></li>
    </ul>
  </div>
</header>
