<header class="header">
  <div class="container header-section">
    <div class="logo">
      <a href="#">LLOYD<span>JEFFERSON</span><span class="dot">.</span></a>
    </div>
    <button class="action-button" aria-label="Action Button">
      <span>Button</span>
    </button>
    <nav class="nav">
      <ul class="nav__list">
        <li><a href="#about">About me</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contacts">Contacts</a></li>
      </ul>
    </nav>
    <button class="menu-toggle" aria-label="Open Menu">
      <span class="menu-icon"></span>
    </button>
  </div>
  <div class="mobile-menu">
    <div class="mobile-header">
      <!-- Логотип в мобільному меню -->
      <div class="logo">
        <a href="#">LLOYD<span>JEFFERSON</span><span class="dot">.</span></a>
      </div>
      <!-- Кнопка закриття мобільного меню -->
      <button class="menu-close" aria-label="Close Menu">&times;</button>
    </div>
    <!-- Навігація для мобільного меню -->
    <nav class="mobile-nav">
      <ul>
        <li><a href="#about">About me</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contacts">Contacts</a></li>
      </ul>
    </nav>
  </div>
</header>
