<section >
<div class="section-container container">
<div class="head-content">
    <div class="conteiner-button-text">
<h1 class="title-hero">Hello, I am <span class="title-span-text">Fullstack developer</span></h1>



<div class="conteiner-link">
    <img src="" alt="ic">
    <a class="hero-link" href="#">Order the project</a>
    <div class="button-custom"></div>
</div>
</div>

<div class="conteiner-title-photo">
<img class="my-photo" srcset="../images/hero-big-foto.jpg, ../images/hero-big-foto-2x.jpg 2x"
    src="../images/hero-big-foto.jpg" alt="my photo" />

<h2 class="text-hero">I work with people all over the world to create <span class="text-hero-span">impressive</span> and <span class="text-hero-span">functional websites</span> that reflect each client’s unique personality.</h2>
</div>
</div>
</div>



</div>
<div class="social-media">
    <ul class="list-social-media">
        <li class="list-item" ><a class="list-href" target="_blank" href="https://www.instagram.com/goitclub/">Instagram</a></li>
        <li class="list-item"><a class="list-href" target="_blank" href="https://www.facebook.com/goITclub/">Facebook</a></li>
        <li class="list-item"><a class="list-href" target="_blank"
                href="https://www.linkedin.com/school/goit-start-your-career-in-it">LinkedIn</a></li>
        <li class="list-item"><a class="list-href" target="_blank" href="https://github.com/Keemply/project-group-5/">GitHub</a></li>
    </ul>
</div>
</section>
 