<section >
<div class="section-container container">
<div class="head-content">
<h1 class="title-hero">Hello, I am <span class="title-span-text">Fullstack developer</span></h1>
<a class="hero-link" href="#">
   <div class="conteiner-link">
<div class="link-order-project">
    <img src="icon. webp" alt="Иконка">
    <h2 class="head-hero-link">Order the project</h2>
</div>
    <div class="button-custom"></div>
   </div>
</a>
<h2 class="text-hero">I work with people all over the world to create <span class="text-hero-span">impressive</span> and <span class="text-hero-span">functional websites</span> that reflect each client’s unique personality.</h2>
</div>

<div class="social-media">
<ul class="list-social-media">
    <li class="list-item"><a class="list-href" href="https://www.instagram.com/goitclub/">Instagram</a></li>
    <li class="list-item"><a class="list-href" href="https://www.facebook.com/goITclub/">Facebook</a></li>
    <li class="list-item"><a class="list-href" href="https://www.linkedin.com/school/goit-start-your-career-in-it">LinkedIn</a></li>
    <li class="list-item"><a class="list-href" href="https://github.com/Keemply/project-group-5/">GitHub</a></li>   
</ul>
</div>
</div>
</section>
 