<section >
    

    <div id="content-light" class="theme-content">
<div class="section-container container">
<div class="head-content">
    <div class="conteiner-button-text">
<h1 class="title-hero">Hello, I am <span class="title-span-text">Fullstack developer</span></h1>



<div class="conteiner-link">
    
    <a class="hero-link" href="#">
        <svg class=iconArrow width="28" height="12">
            <use href="./svg/symbol-defs.svg#icon-Arrow-11"></use>
        </svg>
        Order the project</a>
    <div class="button-custom"></div>
</div>
</div>

<div class="conteiner-title-photo">
<img class="my-photo" srcset="../images/hero-big-foto.jpg, ../images/hero-big-foto-2x.jpg 2x"
    src="../images/hero-big-foto.jpg" alt="my photo" />

<h2 class="text-hero">I work with people all over the world to create <span class="text-hero-span">impressive</span> and <span class="text-hero-span">functional websites</span> that reflect each client’s unique personality.</h2>
</div>
</div>
</div>



</div>
<div class="social-media">
    <ul class="list-social-media">
        <li class="list-item" ><a class="list-href" target="_blank" href="https://www.instagram.com/goitclub/">Instagram</a></li>
        <li class="list-item"><a class="list-href" target="_blank" href="https://www.facebook.com/goITclub/">Facebook</a></li>
        <li class="list-item"><a class="list-href" target="_blank"
                href="https://www.linkedin.com/school/goit-start-your-career-in-it">LinkedIn</a></li>
        <li class="list-item"><a class="list-href" target="_blank" href="https://github.com/Keemply/project-group-5/">GitHub</a></li>
    </ul>
</div>
</div>
<div class="conteiner-dark">
<div class="section-container container">
<div id="content-dark-hero" class="theme-content-hero" >
    <div class="conteiner-title-dark">
    <h1 class="title-hero-dark">Hello, I am <span class="title-hero-span-dark">Fullstack developer</span></h1>
    <div class="social-media-dark">
        <ul class="list-social-media-dark">
            <li class="list-item-dark"><a class="list-href" target="_blank"
                    href="https://www.instagram.com/goitclub/">Instagram</a></li>
            <li class="list-item-dark"><a class="list-href" target="_blank"
                    href="https://www.facebook.com/goITclub/">Facebook</a></li>
            <li class="list-item-dark"><a class="list-href" target="_blank"
                    href="https://www.linkedin.com/school/goit-start-your-career-in-it">LinkedIn</a></li>
            <li class="list-item-dark"><a class="list-href" target="_blank"
                    href="https://github.com/Keemply/project-group-5/">GitHub</a></li>
        </ul>
    </div>
    </div>
    <picture>
        <source media="(max-width: 767px)"
            srcset="./images/my-photo-dark-mob-1x.png 1x, ./images/my-photo-dark-mob-2x.png 2x" />
        <source media="(min-width: 768px) and (max-width: 1279px)"
            srcset="./images/my-photo-dark-tabl-1x.png 1x, ./images/my-photo-dark-tabl-2x.png 2x" />
        <source media="(min-width: 1280px)"
            srcset="./images/my-photo-dark-desc-1x.png 1x, ./images/my-photo-dark-desc-2x.png 2x" />
        <img class="my-photo-dark" src="../images/my-photo-dark-desc-1x.png" alt="my photo" />
    </picture>
    
        
</div>
</div>
</div>
<div class="conteiner-text-hero">
    <div class="section-container container">
    <h2 class="text-hero-dark">I work with people all over the world to create <span
            class="text-hero-span-dark">impressive</span> and
        <span class="text-hero-span-dark">functional websites</span> that reflect each client’s unique personality.
    </h2>
</div>
</div>
</section>
 