<section class="my-projects">
  <div class="container">
    <h2 class="my-projects__title">my<span> projects</span></h2>
    <ul class="my-projects__list">
      <li class="my-projects__block">
        <img
          class="my-projects__picture"
          src="./images/power-pulse-webservice@1x.jpg"
          srcset="
            ./images/power-pulse-webservice@1x.jpg 1x,
            ./images/power-pulse-webservice@2x.jpg 2x
          "
          loading="lazy"
          alt="power pulse webservice"
          width="1008px"
        />
        <p class="my-projects__text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects__info-block">
          <h3 class="my-projects__info-tittle">power pulse webservice</h3>
          <a
            class="my-projects__link"
            href="https://github.com/Keemply/project-group-5"
            target="_blank"
            rel="noopener noreferrer"
            >VISIT<svg class="my-projects__link-icon">
              <use href="../images/icon.svg#icon-Vector"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="my-projects__block">
        <img
          class="my-projects__picture"
          src="./images/mimino-website@1x.jpg"
          srcset="
            ./images/mimino-website@1x.jpg 1x,
            ./images/mimino-website@2x.jpg 2x
          "
          loading="lazy"
          alt="mimino website"
          width="1008px"
        />
        <p class="my-projects__text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects__info-block">
          <h3 class="my-projects__info-tittle">mimino website</h3>
          <a
            class="my-projects__link"
            href="https://github.com/Keemply/project-group-5"
            target="_blank"
            rel="noopener noreferrer"
            >VISIT<svg class="my-projects__link-icon">
              <use href="../images/icon.svg#icon-Vector"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="my-projects__block">
        <img
          class="my-projects__picture"
          src="./images/vyshyvanka-vibes-Landing-Page@1x.jpg"
          srcset="
            ./images/vyshyvanka-vibes-Landing-Page@1x.jpg 1x,
            ./images/vyshyvanka-vibes-Landing-Page@2x.jpg 2x
          "
          loading="lazy"
          alt="vyshyvanka"
          width="1008px"
        />
        <p class="my-projects__text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects__info-block">
          <h3 class="my-projects__info-tittle">
            vyshyvanka vibes Landing Page
          </h3>
          <a
            class="my-projects__link"
            href="https://github.com/Keemply/project-group-5"
            target="_blank"
            rel="noopener noreferrer"
            >VISIT<svg class="my-projects__link-icon">
              <use href="../images/icon.svg#icon-Vector"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="my-projects__block">
        <img
          class="my-projects__picture"
          src="./images/green-harvest-online-store@1x.jpg"
          srcset="
            ./images/green-harvest-online-store@1x.jpg 1x,
            ./images/green-harvest-online-store@2x.jpg 2x
          "
          loading="lazy"
          alt="green harvest"
          width="1008px"
        />
        <p class="my-projects__text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects__info-block">
          <h3 class="my-projects__info-tittle">green harvest online store</h3>
          <a
            class="my-projects__link"
            href="https://github.com/Keemply/project-group-5"
            target="_blank"
            rel="noopener noreferrer"
            >VISIT<svg class="my-projects__link-icon">
              <use href="../images/icon.svg#icon-Vector"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="my-projects__block">
        <img
          class="my-projects__picture"
          src="./images/wallet-webservice@1x.jpg"
          srcset="
            ./images/wallet-webservice@1x.jpg 1x,
            ./images/wallet-webservice@2x.jpg 2x
          "
          loading="lazy"
          alt="Wallet webservice"
          width="1008px"
        />
        <p class="my-projects__text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects__info-block">
          <h3 class="my-projects__info-tittle">Wallet webservice</h3>
          <a
            class="my-projects__link"
            href="https://github.com/Keemply/project-group-5"
            target="_blank"
            rel="noopener noreferrer"
            >VISIT<svg class="my-projects__link-icon">
              <use href="../images/icon.svg#icon-Vector"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="my-projects__block">
        <img
          class="my-projects__picture"
          src="./images/chegojewelry-website@1x.jpg"
          srcset="
            ./images/chegojewelry-website@1x.jpg 1x,
            ./images/chegojewelry-website@2x.jpg 2x
          "
          loading="lazy"
          alt="chego jewelry website"
          width="1008px"
        />
        <p class="my-projects__text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects__info-block">
          <h3 class="my-projects__info-tittle">chego jewelry website</h3>
          <a
            class="my-projects__link"
            href="https://github.com/Keemply/project-group-5"
            target="_blank"
            rel="noopener noreferrer"
            >VISIT
            <svg class="my-projects__link-icon">
              <use href="../images/icon.svg#icon-Vector"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="my-projects__block">
        <img
          class="my-projects__picture"
          src="./images/energy-flow-webservice@1x.jpg"
          srcset="
            ./images/energy-flow-webservice@1x.jpg 1x,
            ./images/energy-flow-webservice@2x.jpg 2x
          "
          loading="lazy"
          alt="energy flow webservice"
          width="1008px"
        />
        <p class="my-projects__text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects__info-block">
          <h3 class="my-projects__info-tittle">energy flow webservice</h3>
          <a
            class="my-projects__link"
            href="https://github.com/Keemply/project-group-5"
            target="_blank"
            rel="noopener noreferrer"
            >VISIT<svg class="my-projects__link-icon">
              <use href="../images/icon.svg#icon-Vector"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="my-projects__block">
        <img
          class="my-projects__picture"
          src="./images/fruitbox-online-store@1x.jpg"
          srcset="
            ./images/fruitbox-online-store@1x.jpg 1x,
            ./images/fruitbox-online-store@2x.jpg 2x
          "
          loading="lazy"
          alt="fruitbox online store"
          width="1008px"
        />
        <p class="my-projects__text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects__info-block">
          <h3 class="my-projects__info-tittle">fruitbox online store</h3>
          <a
            class="my-projects__link"
            href="https://github.com/Keemply/project-group-5"
            target="_blank"
            rel="noopener noreferrer"
            >VISIT<svg class="my-projects__link-icon">
              <use href="../images/icon.svg#icon-Vector"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="my-projects__block">
        <img
          class="my-projects__picture"
          src="./images/english-excellence-webservice@1x.jpg"
          srcset="
            ./images/english-excellence-webservice@1x.jpg 1x,
            ./images/english-excellence-webservice@2x.jpg 2x
          "
          loading="lazy"
          alt="English excellence webservice"
          width="1008px"
        />
        <p class="my-projects__text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects__info-block">
          <h3 class="my-projects__info-tittle">
            English excellence webservice
          </h3>
          <a
            class="my-projects__link"
            href="https://github.com/Keemply/project-group-5"
            target="_blank"
            rel="noopener noreferrer"
            >VISIT<svg class="my-projects__link-icon">
              <use href="../images/icon.svg#icon-Vector"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="my-projects__block">
        <img
          class="my-projects__picture"
          src="./images/starlight-studio-landing-page@1x.jpg"
          srcset="
            ./images/starlight-studio-landing-page@1x.jpg 1x,
            ./images/starlight-studio-landing-page@2x.jpg 2x
          "
          loading="lazy"
          alt="starlight studio"
          width="1008px"
        />
        <p class="my-projects__text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects__info-block">
          <h3 class="my-projects__info-tittle">
            starlight studio landing page
          </h3>
          <a
            class="my-projects__link"
            href="https://github.com/Keemply/project-group-5"
            target="_blank"
            rel="noopener noreferrer"
            >VISIT<svg class="my-projects__link-icon">
              <use href="../images/icon.svg#icon-Vector"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <div class="my-projects__button-container">
      <span class="my-projects__loader"></span>
      <button class="my-projects__button" type="button">LOAD MORE</button>
    </div>
  </div>
</section>
<script src="../js/my-projects.js"></script>
