<section class="my-projects">
  <h2 class="my-projects__title">my projects</h2>
  <ul class="my-projects__list">
    <li class="my-projects__block">
      <img
        class="my-projects__picture"
        src="./images/power-pulse-webservice@1x.jpg"
        srcset="
          ./images/power-pulse-webservice@1x.jpg 1x,
          ./images/power-pulse-webservice@2x.jpg 2x
        "
        loading="lazy"
        alt="power pulse webservice"
      />
      <p>React, JavaScript, Node JS, Git</p>
      <div class="my-projects__info-block">
        <h3>power pulse webservice</h3>
        <a
          href="https://github.com/Keemply/project-group-5"
          target="_blank"
          rel="noopener noreferrer"
          >VISIT</a
        >
      </div>
    </li>
    <li class="my-projects__block">
      <img
        class="my-projects__picture"
        src="./images/mimino-website@1x.jpg"
        srcset="
          ./images/mimino-website@1x.jpg 1x,
          ./images/mimino-website@2x.jpg 2x
        "
        loading="lazy"
        alt="mimino website"
      />
      <p>React, JavaScript, Node JS, Git</p>
      <div class="my-projects__info-block">
        <h3>mimino website</h3>
        <a
          href="https://github.com/Keemply/project-group-5"
          target="_blank"
          rel="noopener noreferrer"
          >VISIT</a
        >
      </div>
    </li>
    <li class="my-projects__block">
      <img
        class="my-projects__picture"
        src="./images/vyshyvanka-vibes-Landing-Page@1x.jpg"
        srcset="
          ./images/vyshyvanka-vibes-Landing-Page@1x.jpg 1x,
          ./images/vyshyvanka-vibes-Landing-Page@2x.jpg 2x
        "
        loading="lazy"
        alt="vyshyvanka"
      />
      <p>React, JavaScript, Node JS, Git</p>
      <div class="my-projects__info-block">
        <h3>vyshyvanka vibes Landing Page</h3>
        <a
          href="https://github.com/Keemply/project-group-5"
          target="_blank"
          rel="noopener noreferrer"
          >VISIT</a
        >
      </div>
    </li>
    <li class="my-projects__block">
      <img
        class="my-projects__picture"
        src="./images/green-harvest-online-store@1x.jpg"
        srcset="
          ./images/green-harvest-online-store@1x.jpg 1x,
          ./images/green-harvest-online-store@2x.jpg 2x
        "
        loading="lazy"
        alt="green harvest"
      />
      <p>React, JavaScript, Node JS, Git</p>
      <div class="my-projects__info-block">
        <h3>green harvest online store</h3>
        <a
          href="https://github.com/Keemply/project-group-5"
          target="_blank"
          rel="noopener noreferrer"
          >VISIT</a
        >
      </div>
    </li>
    <li class="my-projects__block">
      <img
        class="my-projects__picture"
        src="./images/wallet-webservice@1x.jpg"
        srcset="
          ./images/wallet-webservice@1x.jpg 1x,
          ./images/wallet-webservice@2x.jpg 2x
        "
        loading="lazy"
        alt="Wallet webservice"
      />
      <p>React, JavaScript, Node JS, Git</p>
      <div class="my-projects__info-block">
        <h3>Wallet webservice</h3>
        <a
          href="https://github.com/Keemply/project-group-5"
          target="_blank"
          rel="noopener noreferrer"
          >VISIT</a
        >
      </div>
    </li>
    <li class="my-projects__block">
      <img
        class="my-projects__picture"
        src="./images/chegojewelrywebsite@1x.jpg"
        srcset="
          ./images/chegojewelrywebsite@1x.jpg 1x,
          ./images/chegojewelrywebsite@2x.jpg 2x
        "
        loading="lazy"
        alt="chego jewelry website"
      />
      <p>React, JavaScript, Node JS, Git</p>
      <div class="my-projects__info-block">
        <h3>chego jewelry website</h3>
        <a
          href="https://github.com/Keemply/project-group-5"
          target="_blank"
          rel="noopener noreferrer"
          >VISIT</a
        >
      </div>
    </li>
    <li class="my-projects__block">
      <img
        class="my-projects__picture"
        src="./images/energy-flow-webservice@1x.jpg"
        srcset="
          ./images/energy-flow-webservice@1x.jpg 1x,
          ./images/energy-flow-webservice@2x.jpg 2x
        "
        loading="lazy"
        alt="energy flow webservice"
      />
      <p>React, JavaScript, Node JS, Git</p>
      <div class="my-projects__info-block">
        <h3>energy flow webservice</h3>
        <a
          href="https://github.com/Keemply/project-group-5"
          target="_blank"
          rel="noopener noreferrer"
          >VISIT</a
        >
      </div>
    </li>
    <li class="my-projects__block">
      <img
        class="my-projects__picture"
        src="./images/fruitbox-online-store@1x.jpg"
        srcset="
          ./images/fruitbox-online-store@1x.jpg 1x,
          ./images/fruitbox-online-store@2x.jpg 2x
        "
        loading="lazy"
        alt="fruitbox online store"
      />
      <p>React, JavaScript, Node JS, Git</p>
      <div class="my-projects__info-block">
        <h3>fruitbox online store</h3>
        <a
          href="https://github.com/Keemply/project-group-5"
          target="_blank"
          rel="noopener noreferrer"
          >VISIT</a
        >
      </div>
    </li>
    <li class="my-projects__block">
      <img
        class="my-projects__picture"
        src="./images/english-excellence-webservice@1x.jpg"
        srcset="
          ./images/english-excellence-webservice@1x.jpg 1x,
          ./images/english-excellence-webservice@2x.jpg 2x
        "
        loading="lazy"
        alt="English excellence webservice"
      />
      <p>React, JavaScript, Node JS, Git</p>
      <div class="my-projects__info-block">
        <h3>English excellence webservice</h3>
        <a
          href="https://github.com/Keemply/project-group-5"
          target="_blank"
          rel="noopener noreferrer"
          >VISIT</a
        >
      </div>
    </li>
    <li class="my-projects__block">
      <img
        class="my-projects__picture"
        src="./images/starlight-studio-landing-page@1x.jpg"
        srcset="
          ./images/starlight-studio-landing-page@1x.jpg 1x,
          ./images/starlight-studio-landing-page@2x.jpg 2x
        "
        loading="lazy"
        alt="starlight studio"
      />
      <p>React, JavaScript, Node JS, Git</p>
      <div class="my-projects__info-block">
        <h3>starlight studio landing page</h3>
        <a
          href="https://github.com/Keemply/project-group-5"
          target="_blank"
          rel="noopener noreferrer"
          >VISIT</a
        >
      </div>
    </li>
  </ul>
  <div class="my-projects__button-container">
    <button class="my-projects__button" type="button">LOAD MORE</button>
    <svg
      width="107"
      height="2"
      viewBox="0 0 107 2"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 0C0.447715 -4.82823e-08 4.82823e-08 0.447715 0 1C-4.82823e-08 1.55228 0.447715 2 1 2L1 0ZM1 2L107 2.00001L107 9.26682e-06L1 0L1 2Z"
        fill="#00B068"
      />
    </svg>
  </div>
</section>
