<div class="pop-up-background">
  <div class="pop-up-container">
    <button type="button" class="pop-up-container-button">
      <svg class="pop-up-container-close">
        <use href="../images/icon.svg#icon-x"></use>
      </svg>
    </button>
    <p class="pop-up-container-header">
      Thank you for your interest in cooperation!
    </p>
    <p class="pop-up-container-text">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>
