<!-- i -->
<section class="section-reviews">
  <div class="container">
    <h2 class="title-reviews">Reviews</h2>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <p class="error-message">Not found</p>
        <!-- Slides -->
      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-box">
        <button class="swiper-button prev swiper-button-disabled">
          <svg class="swiper-button-svg">
            <use
              class="swiper-button-use"
              href="../svg/rewiews-arrow.svg#icon-arrow-narrow-right"
            ></use>
          </svg>
        </button>
        <button class="swiper-button next">
          <svg class="swiper-button-svg">
            <use
              class="swiper-button-use"
              href="../svg/rewiews-arrow.svg#icon-arrow-narrow-right-1"
            ></use>
          </svg>
        </button>
      </div>
      <!-- If we need scrollbar -->
    </div>
  </div>
</section>
