 <!-- i -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<section id="reviews" class="section-reviews">
    <div class="container">
    <h2 class="title-reviews">Reviews</h2>
    <div class="swiper-container">
        <div class="swiper-wrapper" id="reviews-wrapper">
            <!-- Відгуки будуть додані сюди через JavaScript -->
        </div>
        <div class="box-button">
            <div class="swiper-button-prev button-reviews"></div>
            <div class="swiper-button-next button-reviews"></div>
        </div>
    </div>
    <div id="error-message" style="display: none;">Not found</div>

</section>
<script src="../js/reviews.js"></script>
<!-- ====== -->
   <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
   <!-- =========== -->

    </div>
</section>

