<section class="tech-skills">
  <h2 class="tech-skills__title">List of technological skills</h2>
  <div class="tech-skills__container">
    <ul class="tech-skills__list">
      <li class="tech-skills__block">
        <span class="tech-skills__icon"></span>
        <p class="tech-skills__text">HTML/CSS</p>
      </li>
      <li class="tech-skills__block">
        <span class="tech-skills__icon"></span>
        <p class="tech-skills__text">JavaScript</p>
      </li>
      <li class="tech-skills__block">
        <span class="tech-skills__icon"></span>
        <p class="tech-skills__text">React</p>
      </li>
      <li class="tech-skills__block">
        <span class="tech-skills__icon"></span>
        <p class="tech-skills__text">Node. js</p>
      </li>
      <li class="tech-skills__block">
        <span class="tech-skills__icon"></span>
        <p class="tech-skills__text">React Native</p>
      </li>
      <li class="tech-skills__block">
        <span class="tech-skills__icon"></span>
        <p class="tech-skills__text">Typescript</p>
        <span class="tech-skills__icon"></span>
      </li>
    </ul>
  </div>
  <div class="tech-skills__container-tilted">
    <ul class="tech-skills__list tilted">
      <li class="tech-skills__block">
        <span class="tech-skills__icon"></span>
        <p class="tech-skills__text">HTML/CSS</p>
      </li>
      <li class="tech-skills__block">
        <span class="tech-skills__icon"></span>
        <p class="tech-skills__text">JavaScript</p>
      </li>
      <li class="tech-skills__block">
        <span class="tech-skills__icon"></span>
        <p class="tech-skills__text">React</p>
      </li>
      <li class="tech-skills__block">
        <span class="tech-skills__icon"></span>
        <p class="tech-skills__text">Node. js</p>
      </li>
      <li class="tech-skills__block">
        <span class="tech-skills__icon"></span>
        <p class="tech-skills__text">React Native</p>
      </li>
      <li class="tech-skills__block">
        <span class="tech-skills__icon"></span>
        <p class="tech-skills__text">Typescript</p>
        <span class="tech-skills__icon"></span>
      </li>
    </ul>
  </div>
</section>
