.logo-abaut-me-to {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 52px;

    /* line-height: 64px; */
    line-height: 123%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: right;
    color: #292929;
}

.logo-abaut-me-gren {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 52px;

    /* line-height: 64px; */
    line-height: 123%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: right;
    color: #00b068;
}



.logo-abaut-me {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;

    /* line-height: 40px; */
    line-height: 125%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #292929;
}

.text-about-me {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #292929;
}

.about-me-ul {
    /* list-style-type: none; */
    padding-left: 20px;
    margin: 0;
}

.abaut-text-li::marker {
    color: rgb(4, 159, 4);
   

}

@media screen and (max-width:360px) {
    .container-abaut-me {
        max-width: 360px;
        margin: 0 auto;
    }

    .section-abaut-me {
        margin: 0 auto;
        padding: 0 20px 0 20px;
        margin-bottom: 80px;
    }

    .logo-abaut-me-to {
        width: 217px;
        height: 64px;
    }

    .images-abaut-me {
        border-radius: 16px;
        width: 320px;
        height: 374px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .text-about-me {
        
        width: 320px;
        padding: 12px 0;
    }

    .logo-abaut-me {
        padding-top: 28px;
        padding-bottom: 20px;
    }
}

@media screen and (min-width:360px) {
    .section-abaut-me {
        margin: 0 auto;
        padding: 0 20px 0 20px;
        margin-bottom: 80px;
    }

    .container-abaut-me {
        width: 360px;
        margin: 0 auto;

    }

    .logo-abaut-me-to {
        width: 217px;
        height: 64px;

    }

    .images-abaut-me {
        border-radius: 16px;
        width: 320px;
        height: 374px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .text-about-me {
        
        width: 320px;
        padding: 12px 0;
    }

    .logo-abaut-me {
        padding-top: 28px;
        padding-bottom: 20px;

    }
}

@media screen and (min-width:768px) {

    .section-abaut-me {
        margin: 0 auto;
        padding: 0 32px 0 32px;
        margin-bottom: 124px;
    }

    .container-abaut-me {
        width: 768px;
        margin: 0 auto;
     background-image: url(../images/about-me-background-tab-2x.png)
     
    }

    .logo-abaut-me-to {

        font-family: "Impact", sans-serif;
        font-weight: 400;
        font-size: 108px;

        /* line-height: 124px; */
        line-height: 115%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-align: right;
        color: #292929;

        width: 447px;
        height: 124px;

    }

    .logo-abaut-me-gren {
        font-family: "Impact", sans-serif;
        font-weight: 400;
        font-size: 108px;

        /* line-height: 124px; */
        line-height: 115%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-align: right;
        color: #00b068;
    }

    .cont-abaut-me {

        display: flex;
        display: block;


    }

    .cont-me-to {
        display: flex;
       

    }

    .images-abaut-me {
        border-radius: 16px;
        width: 336px;
        height: 392px;
        padding: 408px 32px 20px 0;
    }

    .logo-abaut-me {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 36px;

        /* line-height: 48px; */
        line-height: 133%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #292929;

        padding-top: 40px;
        padding-bottom: 32px;
    }

    .text-about-me {

        width: 336px;
        padding-top: 0;
        padding-bottom: 24px;
        


    }

    .bio {
        display: flex;
        flex: 1;
        

    }

    .abaut-me-text {
        padding-bottom: 16px;
    }

    .cont-me-to-role {
        margin-left: 32px;
    }

}

@media screen and (min-width: 1280px) {

    .section-abaut-me {
        margin: 0 auto;
        padding: 0 32px 0 32px;
        margin-bottom: 164px;
    }

    .container-abaut-me {
        width: 1280px;
        margin: 0 auto;
        background-image: url(../images/about-me-background-2x.png)

    }

    .images-abaut-me {
        border-radius: 16px;
        width: 384px;
        height: 448px;
        padding: 312px 136px 40px 240px;

    }

    .cont-me-to {
        padding-left: 240px;
    }

    .text-about-me {
        width: 488px;

    }

    .abaut-me-text {
        width: 384px;

    }

    .cont-me-to-role {
        margin-left: 136px;
    }
}