.section-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2308;
  letter-spacing: 0.03462em;
  text-transform: uppercase;
}

.benefits-title span {
  color: var(--ACCET-GREEN);
  font-family: Impact;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2308;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.benefits-item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.benefits-icon-box {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--LIGHT-ACCET);
  border-radius: 8px;
}

.night-theme .benefits-icon-box {
  background-color: #204136;
}

.benefits-icon-box .benefits-icon {
  stroke: var(--ACCET-GREEN);
  fill: transparent;
}

.caption-text{
  font-family: 'Poppins-Regular', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5556;
    letter-spacing: .02777em;
    text-transform: uppercase;
}

.benefits-text{
  font-family: 'Poppins-Light', sans-serif;
}

@media screen and (max-width: 767px) {
  .benefits-section {
    /* padding: 80px 0; */
  }

  .benefits-title {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 108px;
    line-height: 1.2308;
    letter-spacing: 0.01667em;
  }

  .benefits-section {
    /* padding: 124px 0; */
  }

  .benefits-title span {
    font-size: 108px;
  }

  .benefits-list.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 32px;
  }

  .grid-item1 {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .grid-item2 {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .grid-item3 {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .grid-item4 {
    grid-column: 1 / 2;
    grid-row: 3;
  }

  .caption-text{
    font-size: 20px;
        line-height: 1.6;
        letter-spacing: .025em;
  }
}

@media only screen and (min-width: 1280px) {
  .benefits-title {
    max-width: 682px;
  }

  /* .benefits-section {
      padding-bottom: 164px;
    } */
  .benefits-title span {
    font-size: 108px;
  }

  .benefits-section .container {
    position: relative;
    padding-top: 116px;

    background-image: url('/images/benefits_decor_desk.png');
    background-image: image-set(url('../images/benefits_decor_desk@1x.png') 1x,
        url('../images/benefits_decor_desk@2x.png') 2x);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 526px 408px;
  }

  .benefits-title {
    max-width: 682px;
    position: absolute;
    top: 116px;
    left: 32px;
    font-size: 108px;
  }

  .benefits-list {
    margin-top: 276px;
  }

  .benefits-list.grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-item1 {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  .grid-item2 {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .grid-item3 {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .grid-item4 {
    grid-column: 3 / 4;
    grid-row: 2;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  80% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes titleGlare {
  0% {
    background-position: 250% 50%;
  }

  100% {
    background-position: -250% 50%;
  }
}
