:root {
    /* Colors */
    --BLACK: #292929;
    --ACCET-GREEN: #00b068;
    --WHITE: #f0f0f0;
    --LIGHT-GREY: #e4e5e6;
    --LIGHT-ACCET: #bcdfd1;
    --HOVER-GREEN: #009156;
    --ERROR: #e74a3b;
    --HOVER-GREY: #bbbbbb;
    --BLACK-80: rgba(41, 41, 41, 80%)
}

/* Основні стилі */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins-Light', sans-serif;
    color: var(--BLACK);
    background-color: var(--WHITE);
}

.night-theme {
    background-color: rgba(30, 32, 35, 1);
}

.container {
    box-sizing: border-box;
}

/* Контейнер та секції */
@media screen and (max-width:359px) {
    .container {
        max-width: 360px;
        margin: 0 auto;
        padding: 0px 15px;
    }

    section {
        margin-bottom: 80px;
    }
}

@media screen and (min-width:360px) {
    .container {
        max-width: 360px;
        margin: 0 auto;
        padding: 0px 20px;

    }

    section {
        margin-bottom: 80px;
    }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
        padding: 0px 32px;
    }

    section {
        margin-bottom: 124px;
    }
}

@media screen and (min-width:1280px) {
    .container {
        max-width: 1280px;
        margin: 0 auto;
    }

    section {
        margin-bottom: 164px;
    }
}