.faq-section {
    padding: 0px 20px;
    background-color: #E4E5E6; 

}
.faq-container{
    min-width: 320px;
    
}

.faq-title {
    font-family: Impact;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 123%;
}

.faq-title .faq-span {
    color: #00B068; 
}
.faq-img{
    display: none;
}

.faq-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.faq-list-item {
    
    border-radius: 16px;
    background: #E4E5E6;
    display: flex;
    width: 100%;
    padding: 28px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
}


.accordion-header {
    background: #E4E5E6;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.accordion-header-btn {
    background: #E4E5E6;
    border: none;
    cursor: pointer;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 155%;
    color: #292929;
}

.accordion-header-btn[aria-expanded="true"] {
    background: #BCDFD1; 
    
}

.accordion-header:hover .accordion-header-btn:hover{
   
}
.icon-faq {
    fill: #000;
    width: 24px;
    height: 24px;
}
.faq-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%; 
    letter-spacing: 0.03em;
    color: #292929;
}
.accordion-body {
    display: none;
    background: #BCDFD1;
}

.accordion-body.active {
    display: block;

}





@media (min-width: 768px) {
    .faq-title {
        font-size: 108px;
        line-height: 114%;
        
    }

    .accordion-header-btn {
        font-size: 20px;
        line-height: 160%;
    }
}


@media (min-width: 1280px) {
    .faq-section {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 32px;
        
    }

    .left-part-faq{
        display: block;
    }

    .right-part-faq {
       display: flex;
    }

    .faq-title {
        
        width: 520;
        display: block;
        margin-right: 104;
        margin-bottom: 144px;
    }
    .faq-img {
        display: flex;
        
        
    }
    .faq-list {
       
    }

    .accordion-header {
        font-size: 1.4rem;
    }
}