.hero {
}
.head-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 704px;
  flex-shrink: 0;
  background-image: url(../images/hero-background-bottom-mob.png);
}
@media (min-resolution: 192dpi) {
  .head-content {
    background-image: url('../images/hero-background-top-mob-2x.png');
  }
}

.title-hero {
  color: var(--Black, #292929);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Impact;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 125% */
  letter-spacing: 1.8px;
  text-transform: uppercase;
  padding-top: 96px;
}
.title-span-text {
  color: var(--Accet-green, #00b068);
  font-family: Impact;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 125% */
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.hero-link {
  z-index: 999;
  /* Mobile/caption-360 */

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.text-hero {
  color: var(--Black, #292929);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 56px;

  width: 100%;
}
.text-hero-span {
  color: var(--Accet-green, #00b068);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.social-media {
  display: flex;
  width: auto;
  padding: 32px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: var(--Light-grey, #e4e5e6);
}
.list-social-media {
}
.list-item {
  display: block;
  color: var(--Black, #292929);

  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}
.list-href:hover {
  display: block;
  color: #e4e5e6;
  background-color: #292929;
}

/* якорная ссылка */
.conteiner-link {
  position: relative;
  display: flex;
  width: 100%;
  height: 92px;
  flex-shrink: 0;
  align-items: center;

  max-width: 360px;
}
.button-custom {
  position: absolute;
  right: 0px;
  width: 165px;
  height: 92px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--Light-accent, #bcdfd1);
}
