/*  */

.conteiner-Myphoto {
  display: flex;
  flex-direction: column;
  width: 320px;

  flex-shrink: 0;
}

.my-photo-small {
  display: none;
}

.hero-link {
  z-index: 999;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
/* .conteiner-link {
  position: relative;
  display: flex;
  width: 100%;
  height: 92px;
  flex-shrink: 0;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
} */
.conteiner-link {
  position: relative;
  display: flex;
  width: 100%;
  height: 96px;
  flex-shrink: 0;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.button-custom {
  position: absolute;
  right: 0;
  border-radius: 16px;
  background: var(--Light-accent, #bcdfd1);
}
.hero-link:hover + .button-custom {
  background: var(--Accet-green, #00b068);
}
.social-media {
  display: flex;
  width: 100%px;
  padding: 32px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: var(--Light-grey, #e4e5e6);
}
.list-href {
  color: var(--Black, #292929);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
.list-social-media {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 320px) and (max-width: 360px) {
  .list-social-media {
    flex-direction: column;
  }
  .text-hero {
    color: var(--Black, #292929);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding-top: 40px;
    width: 100%;
    font-size: 5w;
    padding-bottom: 56px;
  }
  .text-hero-span {
    color: var(--Accet-green, #00b068);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    width: 100%;
    font-size: 5vw;
  }
  .title-hero {
    color: var(--Black, #292929);
    font-family: Impact;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 125% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding-top: 96px;
    width: 100%;
    font-size: 17vw;
    max-width: 90%;
  }
  .title-hero-green {
    color: var(--Accet-green, #00b068);
    font-family: Impact;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 125% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
    width: 100%;
    font-size: 17vw;
    max-width: 90%;
  }
  .conteiner-link {
    padding-top: 60px;
    padding-bottom: 40px;
    width: 100%;
    height: 92px;
    flex-shrink: 0;
    flex-shrink: 0;
  }
  .button-custom {
    width: 165px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 16px;
    flex-shrink: 0;
  }
}
/* мобильная версия */
@media screen and (min-width: 360px) {
  .list-social-media {
    flex-direction: column;
  }
  .text-hero {
    color: var(--Black, #292929);

    /* Mobile/caption-360 */

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding-bottom: 56px;
  }
  .text-hero-span {
    color: var(--Accet-green, #00b068);

    /* Mobile/caption-360 */

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  .title-hero {
    color: var(--Black, #292929);

    /* Mobile/h1 -360 */
    font-family: Impact;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 125% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  .title-hero-green {
    color: var(--Accet-green, #00b068);

    /* Mobile/h1 -360 */
    font-family: Impact;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 125% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  .conteiner-hello-photo {
    padding-top: 96px;
  }

  .conteiner-link {
    padding-top: 60px;
    padding-bottom: 40px;
    width: 100%;
    height: 92px;
    flex-shrink: 0;
    flex-shrink: 0;
  }
  .button-custom {
    width: 165px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 16px;
    flex-shrink: 0;
  }
  .head-content {
    background-image: url(../images/Hero-decor-bg-mob-1x.png);
    background-size: cover;
  }
  @media (min-resolution: 192dpi) {
    .head-content {
      background-image: url('../images/Hero-decor-bg-mob-2x.png');
      background-size: cover;
    }
  }
}
@media screen and (min-width: 768px) {
  .list-social-media {
    display: flex;
    flex-direction: row;
  }
  .text-hero {
    color: var(--Black, #292929);

    /* Desktop-Tablet/caption */

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding-bottom: 64px;
  }
  .text-hero-span {
    color: var(--Accet-green, #00b068);

    /* Desktop-Tablet/caption */

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  .title-hero {
    color: var(--Black, #292929);

    /* Desktop-Tablet/H1 */
    font-family: Impact;
    font-size: 136px;
    font-style: normal;
    font-weight: 400;
    line-height: 156px; /* 114.706% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  .title-hero-green {
    color: var(--Accet-green, #00b068);

    /* Desktop-Tablet/H1 */
    font-family: Impact;
    font-size: 136px;
    font-style: normal;
    font-weight: 400;
    line-height: 156px; /* 114.706% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  .conteiner-hello-photo {
    padding-top: 72px;
  }
  .conteiner-link {
    padding-top: 60px;
    padding-bottom: 40px;
    width: 416px;
    height: 96px;
    flex-shrink: 0;
  }
  .button-custom {
    width: 261px;
    height: 96px;
    flex-shrink: 0;
  }
  .head-content {
    justify-content: start;

    background-image: url(../images/decor-tablet-1x.png);
    background-size: cover;
  }
  @media (min-resolution: 192dpi) {
    .head-content {
      background-image: url('../images/decor-tablet-2x.png');
      background-size: cover;
    }
  }
}
.conteiner-Myphoto {
  width: 100%;
}

/* .list-social-media {
  display: flex;
  flex-direction: row;
} */
.social-media {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 1280px) {
  .list-social-media {
    display: flex;
    flex-direction: row;
  }
  .my-photo-small {
    display: flex;
    width: 108px;
    height: 108px;
    flex-shrink: 0;
    padding-left: 40px;
    border-radius: 16px;
  }

  .conteiner-hello-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 168px;
    padding-bottom: 0;
  }

  .conteiner-link-text-hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 116px;
  }

  .text-hero {
    padding-bottom: 0;
    padding-left: 136px;
    color: var(--Black, #292929);
    /* Desktop-Tablet/caption */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .text-hero-span {
    color: var(--Accet-green, #00b068);
    /* Desktop-Tablet/caption */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .conteiner-link {
    padding-left: 72px;
  }

  .title-hero {
    color: var(--Black, #292929);
    /* Desktop-Tablet/H1 */
    font-family: Impact;
    font-size: 136px;
    font-style: normal;
    font-weight: 400;
    line-height: 156px; /* 114.706% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding-bottom: 0;
  }

  .title-hero-green {
    color: var(--Accet-green, #00b068);
    /* Desktop-Tablet/H1 */
    font-family: Impact;
    font-size: 136px;
    font-style: normal;
    font-weight: 400;
    line-height: 156px; /* 114.706% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding-bottom: 80px;
  }

  .head-content {
    background-image: url(../images/decor-desctop-1x.png);
    background-size: cover;
  }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .head-content {
    background-image: url('../images/decor-desctop-2x.png');
    background-size: cover;
  }
}
/* Подчеркивание */
.list-href {
  text-decoration: none;
  position: relative;
}

.list-href::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #00b068;
  transition: width 0.3s ease;
}

.list-href:hover::after {
  width: 100%;
}
