.my-projects__title {
  font-family: 'Impact', sans-serif;
  text-transform: uppercase;
  color: var(--BLACK);
  text-align: center;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}
.my-projects__title span {
  color: var(--ACCET-GREEN);
}

.my-projects__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.my-projects__block {
  max-width: 100%;
  margin-bottom: 40px;
}
.my-projects__picture {
  border-radius: 16px;
  margin-bottom: 12px;
}
.my-projects__text {
  color: var(--BLACK);
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.my-projects__info-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.my-projects__info-tittle {
  color: var(--BLACK);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.my-projects__link {
  letter-spacing: 0.03em;
  border-radius: 8px;
  padding: 12px 24px;
  background: var(--LIGHT-GREY);
  color: var(--BLACK);
  align-self: flex-end;
}

.my-projects__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-projects__button {
  background: none;
  border: none;
  padding: 0;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .my-projects__title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }
  .my-projects__block {
    margin-bottom: 60px;
  }
  .my-projects__picture {
    border-radius: 24px;
    margin-bottom: 16px;
  }
  .my-projects__text {
    margin-bottom: 20px;
  }
  .my-projects__info-tittle {
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
    margin-bottom: 0;
  }
  .my-projects__info-block {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .my-projects__title {
    margin-bottom: 80px;
  }
  .my-projects__block {
    margin-bottom: 80px;
  }
}

/* loader!!! */
.my-projects__loader {
  width: 60px;
  height: 30px;
  position: relative;
  display: none;
  --base-color: #263238;
}
.my-projects__loader::before {
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  background-image: radial-gradient(
      circle 8px at 18px 18px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 18px 0px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 0px 18px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 36px 18px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 18px 36px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 30px 5px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 30px 5px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 30px 30px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 5px 30px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 5px 5px,
      var(--base-color) 100%,
      transparent 0
    );
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 3s linear infinite;
}
.my-projects__loader::after {
  content: '';
  left: 35px;
  top: 15px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  background-image: radial-gradient(
      circle 5px at 12px 12px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 12px 0px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 0px 12px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 24px 12px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 12px 24px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 20px 3px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 20px 3px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 20px 20px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 3px 20px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 3px 3px,
      var(--base-color) 100%,
      transparent 0
    );
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 4s linear infinite reverse;
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
