.title-reviews {
    font-family: "Impact";
    font-weight: 400;
    font-size: 52px;
    line-height: 123%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--BLACK);
    text-align: center;
}