
.address-img {
    display: none;
}

.heder {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 123%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 40px;
    color: #292929;
}
.night-theme .heder {
    color: #F0F0F0;
}

.logo {
    color: #00B068;
}
.night-theme .logo {
    color: #14C57C;
}


.address-text{
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
    width: 320px;
}

.night-theme .address-text {
    color: #F0F0F0;
}
.address-conteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.address {}

.address-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 40px;
}

.address-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.address-link {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #292929;
    text-decoration: none;
    transition: color 0.3s;
}
.night-theme .address-link {
    color: #F0F0F0;
}

.address-link:hover {
    color: #00B068;
}

.address-conteiner-form {
    width: 100%;
}

.address-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.address-model {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form-email,
.form-message {
    width: 100%;
    
}

.form-email-input {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    border-radius: 8px;
    color: #292929;
    width: 100%;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #E4E5E6;
    border: none;
    transition: background-color 0.3s;
    box-sizing: border-box;
}
.night-theme 
.form-email-input{
    background: #2A2D32;
}

.form-email-input:hover {
    outline: none;
    color: #E74A3B;
}
.night-theme .form-email-input:hover {
    color: #F0F0F0;
}

.form-message-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #292929;
    padding: 12px;
    resize: none;
    background: #E4E5E6;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    width: 100%;
    height: 128px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 32px;
}
.night-theme .form-message-text {
    background: #2A2D32;
}

.form-message-text:hover {
    outline: none;
    color: #E74A3B;
}
.night-theme .form-message-text:hover {
    color: #F0F0F0;
}

.address-btn {
    border-radius: 8px;
    padding: 12px 24px;
    width: 100%;
    height: 48px;
    background-color: #00B068;
    color: #F0F0F0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.night-theme .address-btn {
    background-color: #14C57C;
}

.address-btn:hover {
    background-color: #009156;
}

@media only screen and (min-width: 768px) {

.section-address-container{
    position: relative;
}
.address-img{
    display: inline;
    width: 336px;
    height:260px;
    position: absolute;
    top: 0;
    right: 32px;
    transform: translateY(-120px);
}

.heder {
    font-family:"impact";
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #292929;
    padding-bottom: 60px;
}

/* .night-theme */
.night-theme .logo {
    color: #14C57C;
}

.address-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
    width: 486px;  
}
.night-theme .address-text {
    color: #F0F0F0;
}

.address-conteiner{

}

.address-model {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.address-btn {
    width: 173px;
    padding: 0;  
}
}

@media only screen and (min-width: 1280px) {
.address-img{
    display: inline;
    width: 528px;
    height: 406px;
    position: absolute;
    top: 0;
    right: 32px;
    transform: translateY(-50); 
}
.heder{
    width: 513px;
    padding-bottom: 80px;
    font-family:"impact";
}

.night-theme .address-text {
    color: #F0F0F0;
}

.address-desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 32p
}
.address-conteiner,
.address-conteiner-form {
    flex: 1;
}
.address-list {
    flex-direction: column;
    gap: 16px;

}

.address-conteiner{
    gap: 120px;
}

}