.section-address {
    padding: 80px 20px;
}

.address-img {
    display: none;
}

.heder {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 123%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 40px;
    color: #292929;
}

.logo {
    color: #00B068;
}

.address-conteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.address {}

.address-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 40px;
}

.address-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.address-link {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #292929;
    text-decoration: none;
    transition: color 0.3s;
}

.address-link:hover {
    color: #00B068;
}

.address-conteiner-form {}

.address-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.address-model {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.form-email-input {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    border-radius: 8px;
    color: #292929;
    width: 100%;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #E4E5E6;
    border: none;
    transition: background-color 0.3s;
}

.form-email-input:hover {
    outline: none;
    color: #E74A3B;
}

.form-message-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #292929;
    padding: 12px;
    resize: none;
    background: #E4E5E6;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    width: 100%;
    height: 128px;
}

.form-message-text:hover {
    outline: none;
    color: #E74A3B;
}

.address-btn {
    border-radius: 8px;
    padding: 12px 24px;
    width: 100%;
    height: 48px;
    background-color: #00B068;
    color: #F0F0F0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.address-btn:hover {
    background-color: #009156;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.model {
    position: fixed;
    border: 1px solid var(--light-grey);
    border-radius: 16px;
    padding: 48px 32px;
    width: 90%;
        /* Змінюємо ширину на 90% для мобільних */
    max-width: 400px;
    height: auto;
    background: #F0F0F0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.model-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    border: none;
}

.icon-x {
    width: 12px;
    height: 12px;
    fill: #292929;
}

.model-tytle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #00B068;
}

.model-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #292929;
}

@media only screen and (min-width: 768px) {
    .section-address {
    padding-top: 164px;
}

.address-img{
    display: inline;
    width: 526px;
    height: 408px;
}

.heder {
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #292929;
    padding-bottom: 60px;
}

.address-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
    
}

.address {}

.address-list {}

.address-item {}

.address-icon {}

.address-link {}

.address-conteiner-form {}

.address-form {}

.address-model {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.form-email {}

.form-email-input {}

.form-message {}

.form-message-text {}

.address-btn {}

.backdrop {}

.model {}

.model-close {}

.icon-x {}

.model-tytle {}

.model-text {}

}

@media only screen and (min-width: 1280px) {}